<h1>About You</h1>

<div id="dialog-player-login">
 <h2>Login</h2>
 <div>
  <label for="username">Username:</label>
  <input type="text" name="username" id="dialog-player-login-username" size="20" />
 </div>
 <div>
  <label for="password">Password:</label>
  <input type="password" name="password" id="dialog-player-login-password" size="20" />
 </div>
 <p>
  <button id="dialog-player-login-button">Login</button>
  <button id="dialog-player-register-button">Register</button>
 </p>
</div>

<div id="dialog-player-logout">
 <button id="dialog-player-logout-button">
  Logout
 </button>

 <hr />

 <div id="dialog-player-logout-tabs">
  <script type="text/javascript"><!--//--><![CDATA[//><!--
   $(function () {
    $('#dialog-player-logout-tabs').tabs();
   });
  //--><!]]></script>
  <ul>
   <li><a href="#dialog-player-logout-tabs-inventory">Inventory</a></li>
   <li><a href="#dialog-player-logout-tabs-world">World</a></li>
  </ul>
  <div id="dialog-player-logout-tabs-inventory">
   <table id="inventory-table">
   </table>
  </div>
  <div id="dialog-player-logout-tabs-world">
   <h3>Change World</h3>
   <select id="worlds">
   </select>
  </div>
 </div>
</div>
